# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# IDE-specific files (optional)
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
